/* colors */
$darkBlue: #217093;
$medBlue: #4eb8dd;
$lightBlue: #ddf1fa;
$inputBG: #f3fafd;

/*screen sizes*/
$break-small: 800px;

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #eff3f4;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: $break-small;
  background-color: #FFF;
  margin: 0;
  padding: 80px;
  box-sizing: border-box;
  border: solid 1px #DDD;
  border-radius: .5em;
  font-family: 'Source Sans Pro', sans-serif;
  @media screen and (max-width: $break-small) {
    padding: 10px;
  }

  .svgContainer {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    background: none;
    border: solid 2.5px #3A5E77;
    overflow: hidden;
    pointer-events: none;
    div {
      position: relative;
      width: 100%;
      height: 0;
      overflow: hidden;
      padding-bottom: 100%;
    }
    .mySVG {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  .inputGroup {
    margin-top: 50px;
    height: 65px;
    input {
      vertical-align: bottom;
      padding: 0 12px 0;
      background-color: $inputBG;
      border: solid 2px $darkBlue;
      border-right-width: 0;
      border-radius: 4px 0 0 4px;
      -webkit-appearance: none;
      height: 100%;
      width: 470px;
      font-size: 1.55em;
      color: #353538;
      font-weight: 600;
      font-family: inherit;
      transition: box-shadow .2s linear, border-color .25s ease-out;
      &:focus {
        outline: none;
        border: solid 2px #4eb8dd;
        border-right-width: 0;
      }
    }

    button {
      padding: .65em 1em 1em;
      background-color: $medBlue;
      border: solid 2px $darkBlue;
      border-radius: 0 4px 4px 0;
      box-sizing: border-box;
      box-shadow: none;
      height: 100%;
      width: 158px;
      font-size: 1.55em;
      color: #FFF;
      font-weight: 600;
      font-family: inherit;
      transition: background-color .2s ease-out;
      &:hover, &:active {
        background-color: $darkBlue;
      }
    }
  }
  }
