/* colors */
$darkBlue: #217093;
$medBlue: #4eb8dd;
$lightBlue: #ddf1fa;
$inputBG: #f3fafd;

/*font size*/
$inputDesktop: 27px;
$inputMobile: 20px;

/*screen sizes*/
$breakSmall: 800px;

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: #eff3f4;
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.speech-bubble {
  position: absolute;
  width: 300px;
  margin-left: -50px;
  margin-top: 20px;
  z-index: 99;

  @media screen and (max-width: $breakSmall) {
    width: 140px;
    margin-left: 5px;
    margin-top: -40px;
  }

  .box {
    width: 100%;
    margin: 50px auto;
    background: #4eb8dd;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    position: relative;
    @media screen and (max-width: $breakSmall) {
      font-weight: 600;
      font-size: 10px;
      padding: 12px;
    }
  }

  .sb1:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 25px solid #4eb8dd;
    border-right: 25px solid transparent;
    border-top: 25px solid transparent;
    border-bottom: 25px solid #4eb8dd;
    right: -30px;
    top: 7px;
    @media screen and (max-width: $breakSmall) {
      font-weight: 600;
      font-size: 12px;
      border-left: 8px solid #4eb8dd;
      border-right: 8px solid transparent;
      border-top: 8px solid transparent;
      border-bottom: 8px solid #4eb8dd;
      right: -15px;
      top: 18px;
    }
  }
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: $breakSmall;
  background-color: #FFF;
  margin: 0;
  padding: 80px;
  box-sizing: border-box;
  border: solid 1px #DDD;
  border-radius: .5em;
  font-family: 'Source Sans Pro', sans-serif;
  @media screen and (max-width: $breakSmall) {
    padding: 90px 10px 10px;
    height: 700px;
  }

  .svgContainer {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 50%;
    background: none;
    border: solid 2.5px #3A5E77;
    overflow: hidden;
    pointer-events: none;

    @media screen and (max-width: $breakSmall) {
      width: 170px;
      height: 170px;
      border: solid 1.5px #3A5E77;
    }

    div {
      position: relative;
      width: 100%;
      height: 0;
      overflow: hidden;
      padding-bottom: 100%;
    }
    .mySVG {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }

  .inputGroup {
    margin-top: 50px;
    height: 65px;

    @media screen and (max-width: $breakSmall) {
      padding: 20px;
      height: 150px;
      margin-top: 20px;
    }

    input {
      vertical-align: bottom;
      padding: 0 12px 0;
      background-color: $inputBG;
      border: solid 2px $darkBlue;
      border-right-width: 0;
      border-radius: 4px 0 0 4px;
      -webkit-appearance: none;
      height: 100%;
      width: 470px;
      font-size: $inputDesktop;
      color: $darkBlue;
      font-weight: 600;
      font-family: inherit;
      transition: box-shadow .2s linear, border-color .25s ease-out;
      &:focus {
        outline: none;
        border: solid 2px #4eb8dd;
        border-right-width: 0;
      }

      @media screen and (max-width: $breakSmall) {
        width: 100%;
        border-radius: 4px;
        border: solid 1.5px $darkBlue;
        height: 50px;
        font-size: $inputMobile;
        &:focus {
          outline: none;
          border: solid 2px #4eb8dd;
        }
      }
    }

    button {
      padding: .65em 1em 1em;
      background-color: $medBlue;
      border: solid 2px $darkBlue;
      border-radius: 0 4px 4px 0;
      box-sizing: border-box;
      box-shadow: none;
      height: 100%;
      width: 158px;
      font-size: $inputDesktop;
      color: #FFF;
      font-weight: 600;
      font-family: inherit;
      transition: background-color .2s ease-out;
      &:hover, &:active {
        background-color: $darkBlue;
      }

      @media screen and (max-width: $breakSmall) {
        margin-top: 25px;
        width: 100%;
        border-radius: 4px;
        border: solid 1.5px $darkBlue;
        height: 50px;
        font-size: $inputMobile;
      }
    }
  }

  // annimations
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
}
